* {
	font-family: '0xProto Nerd Font';
	font-size: 13px;
	all: unset;
}

tooltip {
	font-family: '0xProto Nerd Font Mono';
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
	border: 2px solid white;
}

#waybar {
	background-color: rgba(0, 0, 0, 0.8);
	border-bottom: 2px solid white;
}

#power-profiles-daemon,
#window,
#custom-audio,
#custom-spacer,
#network,
#clock,
#custom-brightnessctl,
#custom-mpris {
	font-family: '0xProto Nerd Font Mono';
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 2px;
}

#custom-spacer { color: rgba(150, 150, 150, 1); }

#custom-spaaaaace { min-width: 200px; }

#custom-brightnessctl { font-size: 19; }
